.signup-box {
    margin: 20px;
}
.signup-err-alert{
    max-width: 500px;
    margin: auto;
}
.signup-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    background-color: #d6f8b8;
    border: 3px solid #99c770;
    justify-content: center;
    padding: 40px 35px;
}
.row {
    width: 100%;
}
.input {
    padding: 10px;
    margin: 5px;
}
.name-input {
    margin-top: 35px;
}
.center-text {
    text-align: center;
}
input:focus {
    outline: none;
}
.submit-btn {
    margin-top: 30px;
}