.dropdown-user-box {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    /* padding-right: 5%; */
}
.user-options {
    list-style: none;
    padding: 15px 35px;
    border: 1px solid white;
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
    color:  white;
    background-color:  rgba(143,187,175);
}
.user-list-item {
    width: 100%;
    margin: 6px;
}
.user-list-item:hover {
    cursor: pointer;
}
.new-text {
    color: #556c8a;
    margin-top: 10px;
}
.new-text:hover {
    cursor: auto;
}
.signup-btn {
    margin: 0px 0px 15px;
    color: #556c8a;
}
.logout-btn {
    margin: 15px 0px;
    color: #556c8a;
}
.link:hover {
    text-decoration: none;
}