.dropdown-categ {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    justify-content: space-between;
    z-index: 99;
    position: relative;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(143,187,175);
}
.rm {
    color: #556c8a;
}
.list-group {
    margin: 20px;
    /* text-align: center; */
}
.categ-list {
    list-style: none;
    padding: 0px;
}
.list-item {
    color: white;
}
.list-item:hover {
    cursor: pointer;
    font-weight: 700;
    color: #556c8a;
}
