.header {
    background-color: #8fbbaf;
    padding: 40px;
}
.col {
    width: 33%;
}
.max-width {
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
}