.shop-logo {
    display: flex;
    flex-wrap: wrap;
}
.logo-img {
    height: 90px;
    border-radius: 30px;
    border: 10px solid #d6f8b8;
}
.logo-img:hover {
    cursor: pointer;
}
.shop-name {
    max-width: 120px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shop-slogan {
    color:  #cdf5cc;
    font-family: cursive;
    margin-top: 5px;
}
.dream-home {
    color: white;
    font-size: 15pt;
}
.dream-home:hover {
    color: black;
}
/* .dream-home:hover .header {
    background-color: white; 
} */

/* .dropdown-categ {
    border: 1px solid black;
    z-index: 1;
} */
/*  */
/* .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */