.srch-box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.full-width {
    width: 100%;
}
.srch-bar {
    min-width: 100%;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 18pt;
    color: gray;
    letter-spacing: 2px;
}
.srch-bar:focus {
    outline: none;
}
.srch-bar::placeholder {
    color: lightgray;
}
