.user-box {
    display: flex;
    align-items: center;
    color: #556c8a;
    font-size: 20pt;
    font-weight: 600;
    padding: 20px;
}
.wb-greet {
    font-size: 12pt;
}
.header-username {
    font-size: 15pt;
    text-align: center;
}