.dropdown-categ {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 70%;
    justify-content: space-around;
}
.list-group {
    margin: 20px;
    /* text-align: center; */
}
.categ-list {
    list-style: none;
    padding: 0px;
}
.list-item:hover {
    cursor: pointer;
    font-weight: 700;
    color: #8fbbaf;
}
